*{
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100%;
    background-color: black;
}

.main{
    display: flex;
    width: auto;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("/assets/img/background_img.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 80% 80%;
}

.main--photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.main--photo img{
    width: 100%;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

.main--info{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;    
    color: white;
}

.main--footer{
    font-size: 14px;
}