* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(24deg, rgba(48, 43, 77, 1) 0%, rgba(218, 105, 161, 1) 100%);
}

.main {
    display: flex;
    width: 1300px;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/img/background_img.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
}

.main__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-bottom: 30px;
}

.main__photo img {
    width: 100%;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.main__info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: white;
}

.main__footer {
    font-size: 14px;
    margin-top: 5%;
    padding-right: 15px;
    color: white;
}

.main__footer a {
    color: white;
    text-decoration: none;
}

.main__footer a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
    .main {
        width: 600px;
        height: 100vh;
        object-fit: cover;
        background-size: cover;
    }

    .main__photo {
        width: 70%
    }

    .main__info {
        font-size: 32px;
    }

    .main__footer {
        font-size: 18px;
        margin-top: 40%;
        padding: 0;
    }

    .main__footer a {
        text-decoration: underline;
    }
}